.container {
    display: flex;
    justify-content: space-between;
    /* height: 85%; */
}

main {
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    padding: .5rem;
    border-radius: 6px;
    color: #A5A5A5;
    font-size: .8rem;
    min-width: 25rem;
    margin-left: 3rem;
    border: 1px solid #dfdede;
    /* height: 83vh */

}

.form-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 1rem;
    border-radius: 6px;
    min-width: 20rem;
}

.form-group {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

input, select {
    width: 95%;
    border: 1px solid #dfdede;
    border-radius: 6px;
    padding: 0.7rem;
    margin: .5rem 0;

}

a {
    text-decoration: none;
    color: rgb(189, 189, 189);
}

a:hover {
    color: rgb(112, 112, 112);
}



button {
    background: #1A7DD7;
    color: white;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    border: 1px solid #707070;
    margin: 1rem 1rem 0.5rem 65%;
    font-size: .9rem;

}

button:hover {
    background: #4c92d3;
}