.menu-container {
    background: rgb(234, 233, 233);
    color: rgb(61, 61, 61);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   /* height: 85vh; */
   min-width:15rem;
   border-radius: 6px;
}

* {
    text-decoration: none;
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: -1.5em;
    margin-top: 5rem;
}

.menu-title {
color: #1A7DD7;
font-weight: bold;
}

.menu-link {
    color: rgb(21, 21, 21);
    font-size: .9rem;
}


.bar-icon {
    width:12px;
    margin-right: 8px;
}

.menu-container button {
    margin-left: 0.6rem;
    margin-top: 5rem;
}